html, body{
    margin: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
}
body{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.header-1{
    color: white;
    height: 9vh;
    width: 100%;
    background-color: rgb(15, 65, 114);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}
.begin-header-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.logo{
    height: 9vh;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img{
    height: 60px;
    width: 60px;
}
.name-text{
    height: 9vh;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.begin-header-1 > div{
    padding-left: 20px;
}
.end-header-1{
    height: 100%;
    padding-right: 30px;
    display: flex;
    align-items: center;
}
.logout-header-1{
    color: rgb(226, 169, 44);
    text-decoration: none;
}
.logout-header-1:hover{
    color: rgb(199, 199, 199);
    text-decoration: underline;
}
.obj-2{
    height: 6vh;
    width: 100%;
    background-color: rgb(15, 65, 114);
    display: flex;
}
.list-option-obj-2{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
}
.list-option-obj-2 > li{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.list-option-obj-2 > li > a:hover{
    height: 100%;
    color: rgb(23, 23, 23) ;
    background-color: rgb(168, 207, 230);
    
}
.list-option-obj-2 > li > a{
    padding: 0 20px;
    height: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}
.main-background-website{
    width: 100%;
    height: 85vh;
    background: url(../images/main-background.jpg) no-repeat center /cover;
    box-sizing: border-box;
}
.choose{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0) !important;
    text-decoration: underline;
}
.main-page{
    background-color: rgb(168, 207, 230);
    color: rgb(23, 23, 23) !important;
}
.name-inpic{
    font-size: 89px;
    font-weight: bold;
    color: rgb(204, 0, 0);
    display: flex;
    justify-content: center;
}
.qlnv{
    height: 85vh;
    width: 100%;
    background-image: linear-gradient(135deg, #C8EDFF, #DFCBFF);
}
.name-table{
    font-size: 20px;
    display: flex;
    padding: 10px;
    font-weight: bold;
    justify-content: center;
}
.search-form, .insert-form{
    display: flex;
    margin: 0 10%;
    flex-direction: row;
}
.search-form > input, select, .insert-form > input, select{
    margin: 0 40px 0 5px;
}
.search-ID{
    width: 115px;
}
.search-name{
    width: 200px;
}
.search-born{
    width: 105px;
}
.position-vic{
    width: fit-content;
}
.list-box{
    height: 100%;
    width: 100%;
    margin-top: 20px;
}
.search-button{
    margin-left: 60px;
}
.search-button:hover{
    cursor: pointer;
}
table{
    border-spacing: 0;
    width: 1200px;
    border: 1px solid;
    background-color: blanchedalmond;
}
th,td,tr{
    border-spacing: 0;
    border: 1px solid;
    width: 150px;
    box-sizing: border-box;
}
.align-table{
    display: flex;
    justify-content: center;
}
.scroll-table{
    height: 350px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.insert-box{
    height: 10%;
    margin-top: 20px;
}
.list-of-nv{
    display: flex;
    justify-content: center;
}
#in4-insert{
    width: fit-content;
    margin: 20px 0 0 80%;
    color: rgb(219, 0, 0);
    background-color: rgb(0, 255, 0);
    position: absolute;
    bottom: 85px;
}
.show {
    display: none;
}

.text-insert{
    margin: 0 0 10px 10%;
}